<svg width="100%" height="100%" viewBox="-175 -175 350 350">
  <path [attr.d]="sectorPath(270)" [attr.fill]="keyColor(d.n)" />
  <text
    [attr.x]="textX(270)"
    [attr.y]="textY(270)"
    dominant-baseline="central"
    text-anchor="middle"
    font-size="80px"
  >
    {{ d.n }}
  </text>
  <path [attr.d]="sectorPath(0)" [attr.fill]="keyColor(d.e)" />
  <text
    [attr.x]="textX(0)"
    [attr.y]="textY(0)"
    dominant-baseline="central"
    text-anchor="middle"
    font-size="80px"
  >
    {{ d.e }}
  </text>
  <path [attr.d]="sectorPath(90)" [attr.fill]="keyColor(d.s)" />
  <text
    [attr.x]="textX(90)"
    [attr.y]="textY(90)"
    dominant-baseline="central"
    text-anchor="middle"
    font-size="80px"
  >
    {{ d.s }}
  </text>
  <path [attr.d]="sectorPath(180)" [attr.fill]="keyColor(d.w)" />
  <text
    [attr.x]="textX(180)"
    [attr.y]="textY(180)"
    dominant-baseline="central"
    text-anchor="middle"
    font-size="80px"
  >
    {{ d.w }}
  </text>
  <text
    [attr.x]="0"
    [attr.y]="0"
    dominant-baseline="central"
    text-anchor="middle"
    font-size="80px"
  >
    {{ d.c }}
  </text>
</svg>
